.relative{
    position: absolute;
    border: 3px solid coral;
    left: 30px;
}

.para{
    position: absolute;
    margin-top: 50px;
}
.fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    border: 3px solid coral;
}